.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
}

.logo {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}

.search-bar button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
/* Add this to your header.css file */
.categories {
  display: flex;
  gap: 20px;
}

.category {
  text-decoration: none;
  color: #000000; /* Adjust the color as needed */
  font-weight: bold;
  font-size: 1rem;
  
}
